<p style="color: green"><%= notice %></p>

<div class="containe text-center">
  <div class="row">
    <div class="col">
      <h2><%= @person.salutation %> <%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %>  </h2>
      <ul style="list-style-type: none">
      <li>Social Security Number: <%= @person.ssn %></li>
      <li>Birthday: <%= @person.birth_date %></li>
      <li>Comments:<%= @person.comment %></li>
      </ul>
      <div>
      <%= link_to "Edit this person", edit_person_path(@person)%> 
      <%# <%= button_to "Back to people", people_path %> 
      <%= button_to "Destroy this person", @person, method: :delete %>
      </div>
    </div>
  <div class="col">
      <h2>Number</h2>
      <% @person.numbers.each do |number| %>
      <p>
      <strong>Phone Numbers:</strong>
      <%= number.phone_number %>
      </p>
      <p>
      <strong>Comments:</strong>
      <%= number.commment %>
      </p>
      <p>
    <%= link_to "Delete Number", [number.person, number], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
      
      <%= link_to "Edit this person", edit_person_number_path(@person)%> 
      <% end %>
      <h2>Add a Number:</h2>
      <%= form_with model: [@person, @person.numbers.build ] do 
      |form| %>
      <p>
      <%= form.label :phone_number %><br>
      <%= form.text_field :phone_number %>
      </p>
      <p>
      <%= form.label :comment %><br>
      <%= form.text_area :commment %> 
      </p>
      <p>
      <%= form.submit %>
      </p>
      <% end %>
      </div>
        <div class="col">
          <h2>Email</h2>
            <% @person.emails.each do |email| %>
          <p>
            <strong>Emails:</strong>
            <%= email.email %>
          </p>
          <p>
            <strong>Comments:</strong>
            <%= email.comment %>
          </p>
            
            <p>
    <%= link_to "Delete Email", [email.person, email], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
      <% end %>
        <h2>Add a Email:</h2>
          <%= form_with model: [@person, @person.emails.build ] do 
         |form| %>
        <p>
         <%= form.label :email %><br>
          <%= form.text_field :email %>
        </p>
        <p>
          <%= form.label :comment %><br>
          <%= form.text_area :commment %> 
         </p>
         <p>
           <%= form.submit %>
         </p>
           <% end %>
       </div>

         </div>
        <div class="col">
          <h2>Address</h2>
            <% @person.addresses.each do |address| %>
          <p>
            <strong>street:</strong>
            <%= address.street %>
          </p>
          <p>
            <strong>Town:</strong>
            <%= address.town %>
          </p>
          <p>
            <strong>Zipcode:</strong>
            <%= address.zipcode %>
          </p>
          <p>
            <strong>State:</strong>
            <%= address.state %>
          </p>
          <p>
            <strong>Country:</strong>
            <%= address.country %>
          </p>
          <p>
      <%= link_to "Delete Address", [address.person, address], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
            <% end %>

        <h2>Add a Address:</h2>
          <%= form_with model: [@person, @person.addresses.build ] do 
         |form| %>
        <p>
         <%= form.label :streetl %><br>
          <%= form.text_field :street %>
        </p>
        <p>
          <%= form.label :town %><br>
          <%= form.text_area :town %> 
         </p>
         <p>
          <%= form.label :zipcode %><br>
          <%= form.text_area :zipcode %> 
         </p>
         <p>
          <%= form.label :state %><br>
          <%= form.text_area :state %> 
         </p>
         <p>
          <%= form.label :country %><br>
          <%= form.text_area :country %> 
         </p>
         <p>
           <%= form.submit %>
         </p>
           <% end %>
       </div>

   </div>
<div>


<table class="table">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">SSN</th>
    <th scope="col">Birthday</th>
    <th scope="col">Comment</th>
    <th scope="col">Number</th>
    <th scope="col"> Number Comment</th>
    <th scope="col">Email</th>
  </tr>
  <tr>
    <td><%= @person.salutation %> <%= @person.first_name %> <%= @person.middle_name %> <%= @person.last_name %>  </td>
    <td><%= @person.ssn %> </td>
    <td><%= @person.birth_date%> </td>
    <td><%= @person.comment%> </td>
    <% @person.numbers.each do |number| %>
    <td> <%= number.phone_number%> </td> 
    <td> <%= number.commment%></td>
     <%end %>
    <% @person.emails.each do |email| %>
     <td> <%= email.email %></td>
     <% end %>
  </tr>
</table>

