<h2>Add a Number:</h2>
<%= form_with model: [@person, @person.numbers.build ] do |form| %>
  <p>
    <%= form.label :phone_number %><br>
    <%= form.text_field :phone_number %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :commment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
