  <%= form_with  model: [@person, @address] do |form| %>
  <p>
    <%= form.label :street %><br>
    <%= form.text_field :street %>
  </p>
  <p>
    <%= form.label :town %><br>
    <%= form.text_area :town %>
  </p>
  <p>
    <%= form.label :zipcode %><br>
    <%= form.text_area :zipcode %>
  </p>
  <p>
    <%= form.label :state %><br>
    <%= form.text_area :state %>
  </p>
  <p>
    <%= form.label :country %><br>
    <%= form.country_select :country %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-success btn-sm' %>
  </p>
<% end %>