<div class="container text-center">
      <%= form_with model: [@person, @email] do 
         |form| %>
      <p>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
      </p>
      <p>
        <%= form.label :comment %><br>
        <%= form.text_area :commment %>
      </p>
      <p>
        <%= form.submit class: 'btn btn-success btn-sm' %>
      </p>
    <% end %>
</div>