<%= form_with model: email do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= form.label :phone_number %><br>
        <%= form.text_field :phone_number %>
      </div>
      <div class="mb-3">
        <%= form.label :commment %><br>
        <%= form.text_area :commment %><br>
      </div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
